<div id="map"></div>



<!-- # %= content_for :scripts do %>
# <!should move the script below to it's own javascript file and reference it, as it will get big once we add things to it
# script type="text/javascript">
#   	handler = Gmaps.build('Google');
#   	handler.buildMap({ internal: {id: 'map'}}, function(){
#     markers = handler.addMarkers(%=raw @hash.to_json %>);
#     handler.bounds.extendWith(markers);
#     handler.fitMapToBounds();
#     makeAJAXRequestForMyItems();
#   });
# /script> 
# % end %>